Sol.1 - Displaying all the header tags from wikipedia.org and make data frame.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Make a GET request to the Wikipedia homepage
response = requests.get('https://en.wikipedia.org/wiki/Main_Page')

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all the header tags (h1, h2, h3, etc.) using BeautifulSoup's find_all method
header_tags = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])

# Create a list to store the header tag text
header_text = []

# Loop through the header tags and append the text to the header_text list
for tag in header_tags:
    header_text.append(tag.text)

# Create a pandas DataFrame from the header_text list
df = pd.DataFrame(header_text, columns=['Header'])

# Print the DataFrame
print(df)

                          Header
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

Sol.2 - Displaying IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URL and fetch the web page content
url = 'https://www.imdb.com/chart/top/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all the movie rows in the HTML table and extract relevant data
movie_rows = soup.select('table.chart tbody tr')
movie_data = []
for row in movie_rows:
    title = row.find('td', class_='titleColumn').find('a').get_text().strip()
    year = row.find('span', class_='secondaryInfo').get_text().strip('()')
    rating = float(row.find('td', class_='ratingColumn imdbRating').get_text(strip=True))
    movie_data.append({'Title': title, 'Year': year, 'Rating': rating})

# Create a Pandas dataframe from the extracted movie data
movie_df = pd.DataFrame(movie_data)
print(movie_df)

                        Title  Year  Rating
0    The Shawshank Redemption  1994     9.2
1               The Godfather  1972     9.2
2             The Dark Knight  2008     9.0
3       The Godfather Part II  1974     9.0
4                12 Angry Men  1957     9.0
..                        ...   ...     ...
245            The Iron Giant  1999     8.0
246                  The Help  2011     8.0
247                   Aladdin  1992     8.0
248               Dersu Uzala  1975     8.0
249        Dances with Wolves  1990     8.0

[250 rows x 3 columns]

Sol.3 - Displaying IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# send a request to the website and get the HTML content
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)

# parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# find all the movie containers
movie_containers = soup.find_all('td', class_='titleColumn')

# create empty lists to store movie details
names = []
ratings = []
years = []

# loop through each movie container and extract details
for container in movie_containers[:50]:
    name = container.a.text
    rating = container.parent.find('td', class_='ratingColumn imdbRating').strong.text
    year = container.span.text.strip('()')
    names.append(name)
    ratings.append(float(rating))
    years.append(int(year))

# create a data frame using Pandas
data = {'Name': names, 'Rating': ratings, 'Year': years}
df = pd.DataFrame(data)

# print the data frame
print(df)

                                   Name  Rating  Year
0   Ramayana: The Legend of Prince Rama     8.6  1993
1            Rocketry: The Nambi Effect     8.4  2022
2                               Nayakan     8.4  1987
3                              Gol Maal     8.4  1979
4                           777 Charlie     8.4  2022
5                     Pariyerum Perumal     8.4  2018
6                            Anbe Sivam     8.4  2003
7                      The World of Apu     8.4  1959
8                              3 Idiots     8.4  2009
9                     Manichithrathazhu     8.3  1993
10                             Jai Bhim     8.3  2021
11                                #Home     8.3  2021
12                      Soorarai Pottru     8.3  2020
13                         Black Friday     8.3  2004
14                    Kumbalangi Nights     8.3  2019
15                    C/o Kancharapalem     8.3  2018
16                  Like Stars on Earth     8.3  2007
17                             Kireedam     8.3  1989
18                               Dangal     8.3  2016
19                               Kaithi     8.3  2019
20                               Jersey     8.3  2019
21                                   96     8.3  2018
22                            Mayabazar     8.2  1957
23                            Natsamrat     8.2  2016
24                               Asuran     8.2  2019
25                           Drishyam 2     8.2  2021
26                         Thevar Magan     8.2  1992
27                           Sita Ramam     8.2  2022
28                           Visaaranai     8.2  2015
29                  Sarpatta Parambarai     8.2  2021
30                           Thalapathi     8.2  1991
31                         Nadodikkattu     8.2  1987
32                      Pather Panchali     8.2  1955
33                             Drishyam     8.2  2013
34                         Thani Oruvan     8.2  2015
35                   Jaane Bhi Do Yaaro     8.2  1983
36                         Vada Chennai     8.2  2018
37                            Aparajito     8.2  1956
38                    Khosla Ka Ghosla!     8.2  2006
39                         Sardar Udham     8.2  2021
40                              Anniyan     8.2  2005
41                           Raatchasan     8.1  2018
42                        Chupke Chupke     8.1  1975
43                   Gangs of Wasseypur     8.1  2012
44                             Drishyam     8.1  2015
45                             Mahanati     8.1  2018
46                              Peranbu     8.1  2018
47                       Bangalore Days     8.1  2014
48                               Premam     8.1  2015
49                                Satya     8.1  1998

Sol.4 - Displaying list of respected former presidents of India(i.e. Name , Term ofoffice) 
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://presidentofindia.nic.in/former-presidents.htm"

response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

presidents_table = soup.find("table", {"class": "table"})
rows = presidents_table.find_all("table")[1:11]

presidents_data = []
for row in rows:
    cols = row.find_all("td")
    name = cols[0].text.strip()
    term = cols[1].text.strip()
    presidents_data.append({"Name": name, "Term": term})

df = pd.DataFrame(presidents_data)
print(df)

AttributeError: ignored

Sol.5 - Scraping cricket rankings from icc-cricket.com and making data frame for

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team andrating.

c) Top 10 ODI bowlers along with the records of their team andrating

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Top 10 ODI Teams
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
team_table = soup.find('table', {'class': 'table'})
team_rows = team_table.find_all('tr')[1:11]
team_data = []
for row in team_rows:
    cols = row.find_all('td')
    team = cols[1].text.strip("\n")
    matches = cols[2].text.strip()
    points = cols[3].text.strip()
    rating = cols[4].text.strip()
    team_data.append([team, matches, points, rating])
team_df = pd.DataFrame(team_data, columns=['Team', 'Matches', 'Points', 'Rating'])
print("Top 10 ODI Teams")
print(team_df)

# Top 10 ODI Batsmen
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
batsman_table = soup.find('table', {'class': 'table'})
batsman_rows = batsman_table.find_all('tr')[1:11]
batsman_data = []
for row in batsman_rows:
    cols = row.find_all('td')
    batsman = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    batsman_data.append([batsman, team, rating])
batsman_df = pd.DataFrame(batsman_data, columns=['Batsman', 'Team', 'Rating'])
print("\nTop 10 ODI Batsmen")
print(batsman_df)

# Top 10 ODI Bowlers
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
bowler_table = soup.find('table', {'class': 'table'})
bowler_rows = bowler_table.find_all('tr')[1:11]
bowler_data = []
for row in bowler_rows:
    cols = row.find_all('td')
    bowler = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    bowler_data.append([bowler, team, rating])
bowler_df = pd.DataFrame(bowler_data, columns=['Bowler', 'Team', 'Rating'])
print("\nTop 10 ODI Bowlers")
print(bowler_df)

Top 10 ODI Teams
               Team Matches Points Rating
0    Australia\nAUS      35  3,965    113
1   New Zealand\nNZ      31  3,504    113
2        India\nIND      47  5,294    113
3      England\nENG      36  3,988    111
4     Pakistan\nPAK      25  2,649    106
5  South Africa\nSA      31  3,141    101
6   Bangladesh\nBAN      38  3,625     95
7     Sri Lanka\nSL      36  3,099     86
8   West Indies\nWI      43  3,105     72
9  Afghanistan\nAFG      20  1,419     71

Top 10 ODI Batsmen
                 Batsman Team Rating
0             Babar Azam  PAK    887
1  Rassie van der Dussen   SA    777
2            Imam-ul-Haq  PAK    740
3           Shubman Gill  IND    738
4           David Warner  AUS    726
5            Virat Kohli  IND    719
6        Quinton de Kock   SA    718
7           Rohit Sharma  IND    707
8            Steve Smith  AUS    702
9           Fakhar Zaman  PAK    699

Top 10 ODI Bowlers
             Bowler Team Rating
0    Josh Hazlewood  AUS    705
1       Trent Boult   NZ    694
2    Mohammed Siraj  IND    691
3    Mitchell Starc  AUS    686
4        Matt Henry   NZ    676
5       Rashid Khan  AFG    659
6        Adam Zampa  AUS    652
7    Shaheen Afridi  PAK    641
8  Mujeeb Ur Rahman  AFG    637
9   Shakib Al Hasan  BAN    636

Sol. 6 - Scraping cricket rankings from icc-cricket.com and making data frame for

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Top 10 ODI Teams
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
team_table = soup.find('table', {'class': 'table'})
team_rows = team_table.find_all('tr')[1:11]
team_data = []
for row in team_rows:
    cols = row.find_all('td')
    team = cols[1].text.strip()
    matches = cols[2].text.strip()
    points = cols[3].text.strip()
    rating = cols[4].text.strip()
    team_data.append([team, matches, points, rating])
team_df = pd.DataFrame(team_data, columns=['Team', 'Matches', 'Points', 'Rating'])
print("Top 10 ODI Teams")
print(team_df)

# Top 10 ODI Batsmen
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
batsman_table = soup.find('table', {'class': 'table'})
batsman_rows = batsman_table.find_all('tr')[1:11]
batsman_data = []
for row in batsman_rows:
    cols = row.find_all('td')
    batsman = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    batsman_data.append([batsman, team, rating])
batsman_df = pd.DataFrame(batsman_data, columns=['Batsman', 'Team', 'Rating'])
print("\nTop 10 ODI Batsmen")
print(batsman_df)

# Top 10 ODI Bowlers
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
all_rounder_table = soup.find('table', {'class': 'table'})
all_rounder_rows = all_rounder_table.find_all('tr')[1:11]
all_rounder_data = []
for row in all_rounder_rows:
    cols = row.find_all('td')
    all_rounder = cols[1].text.strip()
    team = cols[2].text.strip()
    rating = cols[3].text.strip()
    all_rounder_data.append([all_rounder, team, rating])
all_rounder_df = pd.DataFrame(all_rounder_data, columns=['All Rounder', 'Team', 'Rating'])
print("\nTop 10 ODI All Rounders")
print(all_rounder_df)

Top 10 ODI Teams
               Team Matches Points Rating
0    Australia\nAUS      21  3,603    172
1      England\nENG      28  3,342    119
2  South Africa\nSA      26  3,098    119
3        India\nIND      27  2,820    104
4   New Zealand\nNZ      25  2,553    102
5   West Indies\nWI      27  2,535     94
6   Bangladesh\nBAN      13    983     76
7     Thailand\nTHA      11    821     75
8     Pakistan\nPAK      27  1,678     62
9     Sri Lanka\nSL       8    353     44

Top 10 ODI Batsmen
               Batsman Team Rating
0         Alyssa Healy  AUS    762
1          Beth Mooney  AUS    754
2      Laura Wolvaardt   SA    732
3       Natalie Sciver  ENG    731
4          Meg Lanning  AUS    717
5     Harmanpreet Kaur  IND    716
6      Smriti Mandhana  IND    714
7  Chamari Athapaththu   SL    655
8    Amy Satterthwaite   NZ    641
9         Ellyse Perry  AUS    626

Top 10 ODI All Rounders
         All Rounder Team Rating
0    Hayley Matthews   WI    373
1     Natalie Sciver  ENG    371
2       Ellyse Perry  AUS    366
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    336
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    292
7      Jess Jonassen  AUS    250
8           Nida Dar  PAK    232
9  Sophie Ecclestone  ENG    205

Sol.7 - Scraping news details from https://www.cnbc.com/world/?region=world and 
storing them in a data frame

i) Headline

ii) Time

iii) News Link

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.cnbc.com/world/?region=world'
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')

headlines = []
times = []
links = []

articles = soup.find_all('div', class_='Card-titleContainer')

for article in articles:
    headline = article.find('a', class_='Card-title')
    if headline is not None:
        headlines.append(headline.text.strip())
        links.append(headline['href'])
    else:
        headlines.append('No headline')
        links.append('No link')
        
    time = article.find('span', class_='Card-time')
    if time is not None:
        times.append(time.text.strip())
    else:
        times.append('No time')

df = pd.DataFrame({'Headline': headlines, 'Time': times, 'News Link': links})

print(df)

                                             Headline     Time  \
0   Ukraine should use China as leverage to help w...  No time
1   Russian airstrikes in Ukrainian cities kill at...  No time
2   China just called Ukraine. The timing wasn't a...  No time
3   Powell duped by Russian pranksters claiming to...  No time
4   Moscow 'welcomes' China contacting Ukraine; Ky...  No time
5   EU agrees to decarbonize air travel with the '...  No time
6   Oliver Stone and Joshua Goldstein on their doc...  No time
7   Electric car sales in 2022 hit over 10 million...  No time
8   Oliver Stone and Joshua Goldstein on why gover...  No time
9   VC firms create $60 billion-plus climate tech ...  No time
10  Abortion pill mifepristone is banned or restri...  No time
11  Lilly says obesity drug tirzepatide resulted i...  No time
12  Eli Lilly misses on earnings but raises full-y...  No time
13  Mpox outbreak was wake-up call about need to p...  No time
14  Disney, Meta layoffs: These are the first move...  No time
15  Royal castles to luxury getaways: How to spend...  No time
16  New reports say business travel isn’t going ba...  No time
17  Beyond Kyoto: Japan recommends 11 lesser-known...  No time
18  Gen Zs don't have a lot of money, but they're ...  No time
19  What flight behavior is ‘unacceptable?' It may...  No time
20  Here's how to raise a kids with a ‘secure’ att...  No time
21  TikTokers are using beef tallow to treat acne:...  No time
22  This 28-year-old pays $62 a month to live in a...  No time
23  I live in a $62/month dumpster that I built fo...  No time
24  This 25-year-old makes $200/hour without a bac...  No time

                                            News Link
0   https://www.cnbc.com/2023/04/28/ukraine-should...
1   https://www.cnbc.com/2023/04/28/ukraine-war-li...
2   https://www.cnbc.com/2023/04/28/why-did-china-...
3   https://www.cnbc.com/2023/04/27/powell-duped-b...
4   https://www.cnbc.com/2023/04/27/ukraine-war-li...
5   https://www.cnbc.com/2023/04/26/air-travel-eu-...
6   https://www.cnbc.com/video/2023/04/28/oliver-s...
7   https://www.cnbc.com/2023/04/26/electric-car-s...
8   https://www.cnbc.com/video/2023/04/28/oliver-s...
9   https://www.cnbc.com/2023/04/25/vc-firms-form-...
10  https://www.cnbc.com/2023/04/27/supreme-court-...
11  https://www.cnbc.com/2023/04/27/eli-lilly-weig...
12  https://www.cnbc.com/2023/04/27/eli-lilly-lly-...
13  https://www.cnbc.com/2023/04/25/mpox-shows-sma...
14  https://www.cnbc.com/2023/04/24/disney-meta-la...
15  https://www.cnbc.com/2023/04/26/how-to-spend-k...
16  https://www.cnbc.com/2023/04/24/is-business-tr...
17  https://www.cnbc.com/2023/04/19/best-places-to...
18  https://www.cnbc.com/2023/04/17/gen-z-travel-t...
19  https://www.cnbc.com/2023/04/12/should-you-rec...
20  https://www.cnbc.com/2023/04/29/how-to-raise-a...
21  https://www.cnbc.com/2023/04/29/tiktokers-are-...
22  https://www.cnbc.com/2023/04/29/28-year-old-pa...
23  https://www.cnbc.com/video/2023/04/29/i-live-i...
24  https://www.cnbc.com/2023/04/29/25-year-old-no...

Sol.8 -  Scraping the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles and creating data frame that includes

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

title_list = []
author_list = []  
date_list = []
url_list = []

articles = soup.find_all('div', {'class': 'sc-orwwe2-3 jOMrrY'})
for article in articles:
    title = article.find('a', {'class': 'sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'})
    author = article.find('p', {'class': 'sc-1w3fpd7-0 dnCnAO'})
    date = article.find('p', {'class': 'sc-1thf9ly-2 dvggWt'})
    url = 'https://www.sciencedirect.com/science/article/pii' + article.find('a', {'class': 'sc-5smygv-0 fIXTHm'})['href']
    
    title_list.append(title)
    author_list.append(author)
    date_list.append(date)
    url_list.append(url)

data = {'Paper Title': title_list, 'Authors': author_list, 'Published Date': date_list, 'Paper URL': url_list}

df = pd.DataFrame(data)
print(df.head())

  Paper Title Authors Published Date  \
0        None    None           None

                                           Paper URL
0  https://www.sciencedirect.com/science/article/...

Sol. 9 - Scraping the below details from dineout.co.in and storing them in a data frame

i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image UR

This code will only show output when executed in Indian region

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

restaurant_list = []
cuisine_list = []
location_list = []
rating_list = []
image_url_list = []

restaurants = soup.find_all('div', {'class': 'restnt-card'})
for restaurant in restaurants:
    name = restaurant.find('div', {'class': 'restnt-name'}).text.strip()
    cuisine = restaurant.find('div', {'class': 'restnt-cuisine'}).text.strip()
    location = restaurant.find('div', {'class': 'restnt-loc'}).text.strip()
    rating = restaurant.find('div', {'class': 'restnt-rating'}).text.strip()
    image_url = restaurant.find('img')['data-original']
    
    restaurant_list.append(name)
    cuisine_list.append(cuisine)
    location_list.append(location)
    rating_list.append(rating)
    image_url_list.append(image_url)

data = {'Restaurant Name': restaurant_list, 'Cuisine': cuisine_list, 'Location': location_list, 'Ratings': rating_list, 'Image URL': image_url_list}

df = pd.DataFrame(data)
print(df.head())

Empty DataFrame
Columns: [Restaurant Name, Cuisine, Location, Ratings, Image URL]
Index: []