In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"C:/Users/Ritwik Sinha/Desktop/Ritwik/Flip_Robo_Technologies/File - 5/chromedriver")
driver.get("https://www.booking.com/index.en-gb.html?aid=397646&label=yho748jc-1DCAEoggI46AdIM1gDaGyIAQGYAQm4ARfIAQzYAQPoAQGIAgGoAgO4Ap3Y96YGwAIB0gIkY2NlMDIyZmItZDdlZi00MWVkLWE5YzUtNmIzNmE1NWI3MDU32AIE4AIB&sid=0cb28093647b47834b4f3a0")

In [3]:
# Automating the clicking of close button of the popped up dialog box

close_button = driver.find_element(By.XPATH, "/html/body/div[19]/div/div/div/div[1]/div[1]/div")
close_button.click()

In [7]:
# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

In [8]:
# Get web element for cities

cities_titles = driver.find_elements(By.XPATH,'//span[@class="bui-text bui-text--variant-emphasized_2"]')

# Get text from the web element

cities_titles = [title.text.strip("-") for title in cities_titles]
print(cities_titles)

['Dubai, United Arab Emirates', 'London, United Kingdom', 'Jaipur, India', 'Colombo, Sri Lanka', 'Gurgaon, India', 'Kuala Lumpur, Malaysia']

In [9]:
# Get web element for cities part 2

cities_titles_2 = driver.find_elements(By.XPATH,'//span[@class="wcu-seo-popular-city__title bui-text--variant-emphasized_2"]')

# Get text from the web element

cities_titles_2 = [title.text.strip("-") for title in cities_titles_2]
print(cities_titles_2)

['York', 'Torquay', 'Newcastle upon Tyne', 'Manchester', 'Liverpool', 'Leeds', 'Glasgow', 'Edinburgh', 'Carbis Bay', 'Bristol', 'Brighton & Hove', 'Bournemouth', 'Blackpool', 'Birmingham', 'Stockholm', 'Manila', 'Kandy', 'Amsterdam', 'Berlin', 'Sydney', 'Perth', 'Newcastle', 'Melbourne', 'Gold Coast', 'Darwin', 'Canberra', 'Brisbane', 'Adelaide', 'Wellington', 'Auckland', 'Killarney', 'Galway', 'Dublin', 'Cork', 'Paris', 'Doha', 'Ras al Khaimah', 'Fujairah', 'Ajman', 'Abu Dhabi', 'Istanbul', 'Seoul', 'Winnipeg', 'Vancouver', 'Toronto', 'Ottawa', 'Niagara Falls', 'Montr√©al', 'Kelowna', 'Kamloops', 'Jasper', 'Edmonton', 'Canmore', 'Banff', 'Barcelona', 'Tokyo', 'Rome', 'Whistler', 'Rotorua', 'Queenstown']

In [10]:
# We want only 12 cities, New Delhi wasn't present, so I will take Gurgaon, India
# As there are only 12 cities for our consideration, so let's pick only those from the two lists created above

required_cities = [cities_titles[0], cities_titles[1], cities_titles[5], cities_titles_2[3], cities_titles[4],
                   cities_titles_2[13], cities_titles_2[18], cities_titles_2[19], cities_titles_2[22], cities_titles_2[34],
                   cities_titles_2[55], cities_titles_2[44]]

print(required_cities)

['Dubai, United Arab Emirates', 'London, United Kingdom', 'Kuala Lumpur, Malaysia', 'Manchester', 'Gurgaon, India', 'Birmingham', 'Berlin', 'Sydney', 'Melbourne', 'Paris', 'Tokyo', 'Toronto']

In [11]:
# Now, we will extract the necessary details required to create Data1_1.csv
# Automating the clicking of Dubai, United Arab Emirates button

dubai_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[1]/div[1]/div[1]/a/span")
dubai_button.click()

In [12]:
# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

In [13]:
# Creating dataframe for storing data

data1_1 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [16]:
# Adding location column in the dataframe data1_1 as all these hotels belongs to Dubai, United Arab Emirates

data1_1['Location'] = 'Dubai, United Arab Emirates'
data1_1

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Five Jumeirah Village,"38,428 reviews",Superb,5,9.1,"Dubai, United Arab Emirates"
1,Premier Inn Dubai International Airport,"16,064 reviews",Very good,3,8.3,"Dubai, United Arab Emirates"
2,"Holiday Inn Express Dubai Airport, an IHG Hotel","16,426 reviews",Good,3,7.8,"Dubai, United Arab Emirates"
3,TRYP by Wyndham Dubai,"16,885 reviews",Very good,4,8.4,"Dubai, United Arab Emirates"
4,Wyndham Dubai Marina,"13,175 reviews",Very good,4,8.2,"Dubai, United Arab Emirates"
5,Millennium Airport Hotel Dubai,"10,195 reviews",Very good,4,8.2,"Dubai, United Arab Emirates"
6,Flora Inn Hotel Dubai Airport,"14,093 reviews",Very good,4,8.1,"Dubai, United Arab Emirates"
7,Citymax Hotel Bur Dubai,"9,231 reviews",Review score,3,6.9,"Dubai, United Arab Emirates"
8,Hyatt Regency Dubai Creek Heights,"9,655 reviews",Very good,5,8.2,"Dubai, United Arab Emirates"
9,Atana Hotel,"20,850 reviews",Good,4,7.9,"Dubai, United Arab Emirates"

In [17]:
# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

In [18]:
# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

In [19]:
# Now, we will extract the necessary details required to create Data1_2.csv
# Automating the clicking of London, United Kingdom

london_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[1]/div[2]/div[1]/a/span")
london_button.click()

In [20]:
# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

In [21]:
# Creating dataframe for storing data

data1_2 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [24]:
# Adding location column in the dataframe data1_2 as all these hotels belongs to London, United Kingdom

data1_2['Location'] = 'London, United Kingdom'
data1_2

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Britannia International Hotel Canary Wharf,"17,858 reviews",Review score,4,5.7,"London, United Kingdom"
1,Zedwell Piccadilly Circus,"28,614 reviews",Good,0,7.5,"London, United Kingdom"
2,Park Plaza Westminster Bridge London,"20,975 reviews",Very good,4,8.3,"London, United Kingdom"
3,"The Tower Hotel, London","18,524 reviews",Good,4,7.8,"London, United Kingdom"
4,Central Park Hotel,"17,361 reviews",Review score,3,6.6,"London, United Kingdom"
5,The Z Hotel Holborn,"13,804 reviews",Very good,0,8.1,"London, United Kingdom"
6,Millennium Gloucester Hotel London,"11,427 reviews",Good,4,7.3,"London, United Kingdom"
7,DoubleTree by Hilton Hotel London - Tower of L...,"10,992 reviews",Good,4,7.6,"London, United Kingdom"
8,"Intercontinental London - The O2, an IHG Hotel","8,898 reviews",Fabulous,5,8.7,"London, United Kingdom"
9,The Z Hotel Trafalgar,"11,627 reviews",Very good,0,8.4,"London, United Kingdom"

In [25]:
# Now, this piece of code will extract Kuala Lumpur, Malaysia

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_3.csv
# Automating the clicking of Kuala Lumpur, Malaysia

kl_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[2]/div[3]/div[1]/a/span")
kl_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_3 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [28]:
# Adding location column in the dataframe data1_3 as all these hotels belongs to Kuala Lumpur, Malaysia

data1_3['Location'] = 'Kuala Lumpur, Malaysia'
data1_3

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Komune Living,"7,340 reviews",Very good,3,8.1,"Kuala Lumpur, Malaysia"
1,Seri Pacific Hotel Kuala Lumpur,"6,252 reviews",Very good,5,8.4,"Kuala Lumpur, Malaysia"
2,Dorsett Hartamas Kuala Lumpur,"5,688 reviews",Good,4,7.7,"Kuala Lumpur, Malaysia"
3,Hotel Sentral KL @ KL Sentral Station,"4,423 reviews",Review score,3,6.5,"Kuala Lumpur, Malaysia"
4,Sunway Putra Hotel Kuala Lumpur,"7,677 reviews",Fabulous,5,8.6,"Kuala Lumpur, Malaysia"
5,"Traders Hotel, Kuala Lumpur","8,236 reviews",Fabulous,5,8.6,"Kuala Lumpur, Malaysia"
6,Concorde Hotel Kuala Lumpur,"4,931 reviews",Very good,4,8.3,"Kuala Lumpur, Malaysia"
7,"Mandarin Oriental, Kuala Lumpur","5,573 reviews",Fabulous,5,8.9,"Kuala Lumpur, Malaysia"
8,Pullman Kuala Lumpur City Centre Hotel & Resid...,"5,946 reviews",Very good,5,8.4,"Kuala Lumpur, Malaysia"
9,Grand Millennium Kuala Lumpur,"4,531 reviews",Very good,5,8.1,"Kuala Lumpur, Malaysia"

In [29]:
# Now, this piece of code will extract Manchester

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_4.csv
# Automating the clicking of Manchester

manchester_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[3]/div[4]/a/span[1]")
manchester_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_4 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [32]:
# Adding location column in the dataframe data1_4 as all these hotels belongs to Manchester

data1_4['Location'] = 'Manchester'
data1_4

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Britannia Hotel City Centre Manchester,"21,373 reviews",Review score,3,5.7,Manchester
1,Sachas Hotel Manchester,"12,626 reviews",Review score,3,5.7,Manchester
2,Manchester Piccadilly Hotel,"12,657 reviews",Good,4,7.7,Manchester
3,Motel One Manchester-Piccadilly,"12,707 reviews",Fabulous,3,8.7,Manchester
4,The Midland,"4,597 reviews",Very good,4,8.4,Manchester
5,Motel One Manchester-Royal Exchange,"11,072 reviews",Fabulous,3,8.6,Manchester
6,"The Edwardian Manchester, A Radisson Collectio...","10,373 reviews",Fabulous,5,8.9,Manchester
7,ibis budget Manchester Salford Quays,"8,424 reviews",Good,2,7.1,Manchester
8,Mercure Manchester Piccadilly Hotel,"7,966 reviews",Review score,4,6.6,Manchester
9,Airport Hotel Manchester,"9,744 reviews",Review score,3,6.3,Manchester

In [37]:
# Now, this piece of code will extract Gurgaon, India

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_5.csv
# Automating the clicking of Gurgaon

gurgaon_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[2]/div[2]/div[1]/a/span")
gurgaon_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_5 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [40]:
# Adding location column in the dataframe data1_5 as all these hotels belongs to Gurgaon, India

data1_5['Location'] = 'Gurgaon, India'
data1_5

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,"Holiday Inn Express Gurugram Sector 50, an IHG...","1,827 reviews",Review score,4,6.2,"Gurgaon, India"
1,Taj City Centre Gurugram,"2,144 reviews",Fabulous,5,8.7,"Gurgaon, India"
2,Park Plaza Gurgaon,"1,449 reviews",Good,5,7.4,"Gurgaon, India"
3,"Holiday Inn Gurugram Sector 90, an IHG Hotel","1,250 reviews",Good,5,7.5,"Gurgaon, India"
4,"Country Inn & Suites by Radisson, Gurugram Sec...","1,663 reviews",Good,4,7.3,"Gurgaon, India"
5,Radisson Gurugram Udyog Vihar,"1,615 reviews",Good,5,7.7,"Gurgaon, India"
6,Hyatt Place Gurgaon Udyog Vihar,"1,237 reviews",Good,5,7.8,"Gurgaon, India"
7,The Leela Ambience Gurugram Hotel & Residences,"1,715 reviews",Fabulous,5,8.8,"Gurgaon, India"
8,ibis Gurgaon Golf Course Road - An Accor Brand,"1,227 reviews",Good,4,7.2,"Gurgaon, India"
9,"Le Meridien Gurgaon, Delhi NCR","1,562 reviews",Very good,5,8.2,"Gurgaon, India"

In [42]:
# Now, this piece of code will extract Birmingham

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_6.csv
# Automating the clicking of Birmingham

birmingham_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[6]/div[2]/a/span[1]")
birmingham_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_6 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [45]:
# Adding location column in the dataframe data1_6 as all these hotels belongs to Birmingham

data1_6['Location'] = 'Birmingham'
data1_6

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,ibis budget Birmingham Centre,"10,363 reviews",Review score,2,6.7,Birmingham
1,Hampton by Hilton Birmingham Broad Street,"8,474 reviews",Good,3,7.8,Birmingham
2,Holiday Inn Express - Birmingham - City Centre...,"7,900 reviews",Very good,3,8.4,Birmingham
3,Hyatt Regency Birmingham,"6,625 reviews",Good,4,7.8,Birmingham
4,"Holiday Inn Birmingham City, an IHG Hotel","6,183 reviews",Good,4,7.8,Birmingham
5,"Radisson Blu Hotel, Birmingham","5,454 reviews",Very good,4,8.1,Birmingham
6,Campanile Hotel - Birmingham,"4,246 reviews",Good,3,7.7,Birmingham
7,Clayton Hotel Birmingham,"4,942 reviews",Very good,4,8.4,Birmingham
8,ibis Birmingham Centre New Street Station Hotel,"5,893 reviews",Good,3,7.4,Birmingham
9,Malmaison Birmingham,"3,944 reviews",Very good,4,8.2,Birmingham

In [47]:
# Now, this piece of code will extract Berlin

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_7.csv
# Automating the clicking of Berlin

berlin_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[7]/div[3]/a/span[1]")
berlin_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_7 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [50]:
# Adding location column in the dataframe data1_7 as all these hotels belongs to Berlin

data1_7['Location'] = 'Berlin'
data1_7

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Park Inn by Radisson Berlin Alexanderplatz,"19,516 reviews",Good,4,7.4,Berlin
1,Schulz Hotel Berlin Wall at the East Side Gallery,"19,366 reviews",Very good,3,8.4,Berlin
2,MEININGER Hotel Berlin Hauptbahnhof,"12,879 reviews",Good,3,7.4,Berlin
3,Riu Plaza Berlin,"16,250 reviews",Very good,4,8.3,Berlin
4,Hampton by Hilton Berlin City Centre Alexander...,"12,986 reviews",Very good,3,8.1,Berlin
5,H2 Hotel Berlin-Alexanderplatz,"16,950 reviews",Very good,3,8.2,Berlin
6,IntercityHotel Berlin Hauptbahnhof,"13,253 reviews",Very good,4,8.1,Berlin
7,Hotel AMANO Grand Central,"8,843 reviews",Very good,3,8.1,Berlin
8,TITANIC Chaussee Berlin,"9,870 reviews",Very good,4,8.2,Berlin
9,NH Collection Berlin Mitte am Checkpoint Charlie,"7,711 reviews",Very good,4,8.3,Berlin

In [52]:
# Now, this piece of code will extract Sydney

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_8.csv
# Automating the clicking of Sydney

sydney_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[7]/div[4]/a/span[1]")
sydney_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_8 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [55]:
# Adding location column in the dataframe data1_8 as all these hotels belongs to Sydney

data1_8['Location'] = 'Sydney'
data1_8

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Shangri-La Sydney,"9,931 reviews",Very good,5,8.1,Sydney
1,ibis budget Sydney Airport,"10,054 reviews",Review score,3,6.6,Sydney
2,The Grace Hotel,"11,745 reviews",Fabulous,5,8.6,Sydney
3,"Meriton Suites Kent Street, Sydney","7,567 reviews",Very good,5,8.2,Sydney
4,Hyatt Regency Sydney,"6,929 reviews",Very good,5,8.2,Sydney
5,Travelodge Hotel Sydney Airport,"11,233 reviews",Very good,4,8.3,Sydney
6,Rydges Sydney Airport Hotel,"8,875 reviews",Very good,5,8.1,Sydney
7,Citadines Connect Sydney Airport,"7,422 reviews",Very good,4,8.5,Sydney
8,Great Southern Hotel Sydney,"7,742 reviews",Good,4,7.9,Sydney
9,Four Seasons Hotel Sydney,"8,922 reviews",Superb,5,9.1,Sydney

In [59]:
# Now, this piece of code will extract Melbourne

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_9.csv
# Automating the clicking of Melbourne

melbourne_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[8]/div[3]/a/span[1]")
melbourne_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_9 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [62]:
# Adding location column in the dataframe data1_9 as all these hotels belongs to Melbourne

data1_9['Location'] = 'Melbourne'
data1_9

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,The Victoria Hotel,"10,161 reviews",Very good,4,8.1,Melbourne
1,Crown Promenade Melbourne,"7,567 reviews",Fabulous,5,8.7,Melbourne
2,Crown Metropol Melbourne,"7,535 reviews",Very good,5,8.4,Melbourne
3,Atlantis Hotel Melbourne,"8,552 reviews",Very good,4,8,Melbourne
4,Great Southern Hotel Melbourne,"6,853 reviews",Good,4,7.5,Melbourne
5,Hotel Grand Chancellor Melbourne,"7,462 reviews",Good,4,7.6,Melbourne
6,YEHS Hotel Melbourne CBD,"8,349 reviews",Very good,4,8.4,Melbourne
7,Travelodge Hotel Melbourne Docklands,"6,323 reviews",Good,4,7.8,Melbourne
8,Causeway 353 Hotel,"6,922 reviews",Very good,4,8,Melbourne
9,ibis Styles Kingsgate Hotel,"2,445 reviews",Good,3,7.4,Melbourne

In [64]:
# Now, this piece of code will extract Paris

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_10.csv
# Automating the clicking of Paris

paris_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[11]/div[3]/a/span[1]")
paris_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_10 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [67]:
# Adding location column in the dataframe data1_10 as all these hotels belongs to Paris

data1_10['Location'] = 'Paris'
data1_10

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,HotelF1 Paris Saint Ouen March√© Aux Puces,"12,740 reviews",Review score,1,6.3,Paris
1,hotelF1 Paris Porte de Ch√¢tillon,"12,465 reviews",Good,1,7.2,Paris
2,B&B HOTEL Paris 17 Batignolles,"11,424 reviews",Good,3,7.9,Paris
3,Pullman Paris Tour Eiffel,"5,708 reviews",Very good,4,8.3,Paris
4,Ibis Paris Tour Eiffel Cambronne 15√®me,"9,060 reviews",Good,3,7.5,Paris
5,citizenM Paris Gare de Lyon,"9,856 reviews",Very good,4,8.3,Paris
6,ibis Budget Paris La Villette 19√®me,"10,502 reviews",Good,2,7.2,Paris
7,"Holiday Inn Paris Gare de l'Est, an IHG Hotel","5,496 reviews",Good,4,7.6,Paris
8,B&B HOTEL Paris Porte des Lilas,"11,590 reviews",Good,2,7.8,Paris
9,MEININGER Hotel Paris Porte de Vincennes,"7,819 reviews",Good,1,7.8,Paris

In [69]:
# Now, this piece of code will extract Tokyo

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_11.csv
# Automating the clicking of Tokyo

tokyo_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[16]/div[4]/a/span[1]")
tokyo_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_11 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [72]:
# Adding location column in the dataframe data1_11 as all these hotels belongs to Tokyo

data1_11['Location'] = 'Tokyo'
data1_11

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Hotel Sunroute Plaza Shinjuku,"7,369 reviews",Very good,4,8.3,Tokyo
1,The Royal Park Hotel Tokyo Haneda Airport Term...,"9,572 reviews",Very good,4,8.4,Tokyo
2,Shinagawa Prince Hotel,"9,321 reviews",Good,4,7.9,Tokyo
3,Shinjuku Prince Hotel,"4,860 reviews",Good,4,7.9,Tokyo
4,JR Kyushu Hotel Blossom Shinjuku,"3,534 reviews",Fabulous,4,8.8,Tokyo
5,the square hotel GINZA,"4,577 reviews",Very good,4,8.4,Tokyo
6,Mitsui Garden Hotel Roppongi Tokyo Premier,"5,844 reviews",Fabulous,5,8.7,Tokyo
7,Mitsui Garden Hotel Jingugaien Tokyo Premier,"6,418 reviews",Fabulous,4,8.8,Tokyo
8,Ours Inn Hankyu,"5,915 reviews",Very good,3,8,Tokyo
9,karaksa hotel TOKYO STATION,"5,279 reviews",Fabulous,4,8.6,Tokyo

In [74]:
# Now, this piece of code will extract Toronto

# Automating going back to home page

home_button = driver.find_element(By.XPATH, "/html/body/div[2]/div/div[3]/div[2]/nav/ol/li[1]/div")
home_button.click()

# Automating the clicking of cities button at the bottom of the page

cities_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/ul/li[2]/button/span")
cities_button.click()

# Now, we will extract the necessary details required to create Data1_12.csv
# Automating the clicking of Toronto

toronto_button = driver.find_element(By.XPATH, "/html/body/div[5]/div[2]/nav/div[2]/div/ul/li[14]/div[1]/a/span[1]")
toronto_button.click()

# Get web elements for Hotel name, location, number of reviews, user ratings, star ratings, review score

hotel_name = driver.find_elements(By.XPATH,'//span[@class="bui-card__title"]')
user_ratings = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__title"]')
number_of_reviews = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__text"]')
star_ratings = driver.find_elements(By.XPATH,'//div[@class="bk-icon -sprite-ratings_stars_3"]/svg/span')
review_score = driver.find_elements(By.XPATH,'//div[@class="bui-review-score__badge"]')

# Get text from the web elements

hotel_name = [hotel.text.strip("-") for hotel in hotel_name]
user_ratings = [usr.text.strip(",") for usr in user_ratings]
number_of_reviews = [review.text for review in number_of_reviews]
star_ratings = [sr for sr in star_ratings]
review_score = [rs.text for rs in review_score]

# Creating dataframe for storing data

data1_12 = pd.DataFrame({
    'Hotel Name': hotel_name,
    'Number of Reviews': number_of_reviews,
    'User Ratings': user_ratings,
    'Star Ratings': star_ratings,
    'Review Score': review_score
})

In [77]:
# Adding location column in the dataframe data1_12 as all these hotels belongs to Toronto

data1_12['Location'] = 'Toronto'
data1_12

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,One King West Hotel and Residence,"10,996 reviews",Very good,4,8.4,Toronto
1,Chelsea Hotel Toronto,"6,244 reviews",Good,4,7.1,Toronto
2,DoubleTree by Hilton Toronto Downtown,"5,100 reviews",Good,4,7.6,Toronto
3,Town Inn Suites Hotel,"4,072 reviews",Good,3,7.7,Toronto
4,"Holiday Inn Toronto Downtown Centre, an IHG Hotel","8,237 reviews",Good,4,7.5,Toronto
5,Woodbine Hotel & Suites,"2,380 reviews",Review score,3,6,Toronto
6,Pan Pacific Toronto,"3,408 reviews",Good,4,7.8,Toronto
7,"Doubletree by Hilton Toronto Airport, ON","2,816 reviews",Very good,4,8.2,Toronto
8,"Holiday Inn Toronto International Airport, an ...","1,766 reviews",Good,4,7.3,Toronto
9,Best Western Plus Toronto North York Hotel & S...,879 reviews,Review score,4,6.7,Toronto

In [ ]:
############################################################################################

In [ ]:
############################################################################################

In [78]:
# Now, let's combine all the 12 dataframes to make one dataframe, resulting in our first data1.csv file

dfs = [data1_1, data1_2, data1_3, data1_4, data1_5, data1_6, data1_7, data1_8, data1_9, data1_10, data1_11, data1_12]
result_df = pd.concat(dfs, ignore_index=True)

# Display the concatenated DataFrame
result_df

,Hotel Name,Number of Reviews,User Ratings,Star Ratings,Review Score,Location
0,Five Jumeirah Village,"38,428 reviews",Superb,5,9.1,"Dubai, United Arab Emirates"
1,Premier Inn Dubai International Airport,"16,064 reviews",Very good,3,8.3,"Dubai, United Arab Emirates"
2,"Holiday Inn Express Dubai Airport, an IHG Hotel","16,426 reviews",Good,3,7.8,"Dubai, United Arab Emirates"
3,TRYP by Wyndham Dubai,"16,885 reviews",Very good,4,8.4,"Dubai, United Arab Emirates"
4,Wyndham Dubai Marina,"13,175 reviews",Very good,4,8.2,"Dubai, United Arab Emirates"
...,...,...,...,...,...,...
115,Woodbine Hotel & Suites,"2,380 reviews",Review score,3,6,Toronto
116,Pan Pacific Toronto,"3,408 reviews",Good,4,7.8,Toronto
117,"Doubletree by Hilton Toronto Airport, ON","2,816 reviews",Very good,4,8.2,Toronto
118,"Holiday Inn Toronto International Airport, an ...","1,766 reviews",Good,4,7.3,Toronto
119,Best Western Plus Toronto North York Hotel & S...,879 reviews,Review score,4,6.7,Toronto

In [82]:
# Saving the resulting dataframe in a data1.csv file

csv_path = r'C:/Users/Ritwik Sinha/Desktop/Ritwik/data1.csv'
result_df.to_csv(csv_path, index=False)

In [ ]:
############################################################################################

In [ ]:
############################################################################################